<app-octo-guide-card [closeIcon]="'assets/icons/Icon - Octo guide Close.svg'">
    <div class="w-full max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- Stepper -->
        <div class="mb-6 mt-12">
            <div class="flex flex-col items-center w-full">
                <div class="flex items-center w-full">
                    <ng-container *ngFor="let i of [].constructor(totalSteps); let index = index">
                        <div [ngClass]="{
            'bg-[#4CC38A]': index + 1 < step,
            'bg-[#FD6E1D]': index + 1 === step,
            'bg-[#E5E7EB]': index + 1 > step
          }" class="w-3 h-3 md:w-3 md:h-3 rounded-full"></div>
                        <div *ngIf="index < totalSteps - 1" [ngClass]="{
            'bg-[#4CC38A]': index + 1 < step,
            'bg-[#E5E7EB]': index + 1 >= step
          }" class="h-[0.15rem] flex-1 bg-[#E5E7EB] mx-2 sm:mx-4"></div>
                    </ng-container>
                </div>
                <div class="w-full flex justify-start">
                    <span class="mt-2 text-sm md:text-base text-[#FD6E1D] font-medium">
                        Step {{step}} of {{totalSteps}}
                    </span>
                </div>
            </div>
        </div>

        <!-- Question -->
        <h2 class="text-2xl font-medium text-[#23210c] mb-6 text-start">
            {{ question }}
        </h2>

        <!-- Options -->
        <div class="flex flex-wrap gap-4 w-full max-w-2xl mb-8">
            <button
                *ngFor="let option of options"
                type="button"
                (click)="toggleOption(option.value)"
                [ngClass]="{
                'border border-[1px] border-[#3E2083] bg-[#3E20830D] font-medium text-[#3E2083]': selectedValues.includes(option.value),
                'border border-[#E5E7EB] bg-white font-normal text-[#23210c]': !selectedValues.includes(option.value)
                }"
                class="min-w-[213px] h-[40px] rounded-[7px] px-5 py-2.5 text-base transition-all duration-150 text-center
                    sm:min-w-[220px] sm:h-[44px] sm:px-6 sm:py-3
                    md:min-w-[240px] md:h-[48px] md:px-7 md:py-3.5"
            >
                {{ option.label }}
            </button>
        </div>

        <!-- Continue Button -->
        <button
            class="bg-[#FD6E1D] text-white px-8 py-3 rounded-lg font-semibold text-lg flex items-center gap-2">
            <!-- style="box-shadow: 0px 4px 24px 0px #FD6E1D1A;" -->
            Continue
            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
</app-octo-guide-card>